@use "global" as *;

.top-contact {
    margin-top: rem(20);
}

.contact__wrapper {
    background-color: $white;
    @include mq(md) {
        max-width: rem(800);
        margin-inline:auto;
        padding:rem(30);
    }
}

.contact__text {
    color:#000;
    text-align: center;
    @include mq(md) {
        margin-top: rem(20);
    }
}