@use "global" as *;

.section-tittle {
    font-family: $accent-font-family;
    font-weight: $bold;
    text-align: center;
    font-size: rem(25);
    @include mq(md) {
        font-size: rem(30);
        line-height: calc(53 / 30);
    }
}

.section-sub-tittle {
    font-family: $accent-font-family;
    font-weight: $bold;
    text-align: center;
    font-size: rem(22);
    @include mq(md) {
        font-size: rem(24);
        line-height: calc(42 / 24);
    }
}

.section-text {
    text-align: center;
    font-size: rem(16);
}